    <!--Load jQuery Mobile Styles-->
    <!--<link rel="stylesheet" href="{site_url}/timeline/jquery/jquery.mobile/1.4.5/jquery.mobile-1.4.5.css">-->
    <!--Load jQuery UI Styles-->
    <!--<link rel="stylesheet" href="{site_url}/timeline/jquery/jquery-ui-custom/1.11.4/jquery-ui.css">-->

    <!--Lazy Load Add-Ons Styles and Scripts from ../timeline/libs/lazy-load-xt-master/dist
    <!--Lazy Load Add-On Styles-->
    <link rel="stylesheet" href="{site_url}/timeline/libs/lazy-load-xt/jquery.lazyloadxt.fadein.css">

    <!--Stylesheets-->
    <!--<link href="{site_url}/timeline/css/basic_styles.css" rel="stylesheet" type="text/css">-->
    <link href="{site_url}/timeline/css/custom_styles.css" rel="stylesheet" type="text/css">


