{exp:channel:entries channel="footer" limit="1" disable="pagination"}
			<footer id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-3">
							<a href="http://www.rootleveldevelopment.com/chicago/" class="logo push-bottom">
								<img alt="Root Level Development" src="{pathindextosub}img/logo-footer.png">
							</a>
							<p>Root Level Development provides custom multimedia components and professional media services. <a href="http://www.rootleveldevelopment.com/chicago/contact" class="btn-flat btn-xs">Contact Us <i class="icon icon-arrow-right"></i></a></p>
							<div class="contact-details">
								<ul class="contact">
									<li><p><i class="icon icon-map-marker"></i><!-- <strong>Address:</strong> -->3712 N Broadway STE 427, Chicago, IL</p></li>
									<li><p><i class="icon icon-phone"></i><!-- <strong>Phone:</strong> =======-->(312) 884-7618</p></li>
									<li><p><i class="icon icon-envelope"></i><!-- <strong>Email:</strong> ====--><a href="mailto:hello@rootleveldevelopment.com">hello@rootleveldevelopment.com</a></p></li>
								</ul>
							</div>
						</div>
						<div class="col-md-3">
							<h4>Recent Posts</h4>
							<ul class="nav nav-list primary">
								<li><a title="Meet Tommy Dalton" href="http://www.rootleveldevelopment.com/chicago/team/tommy-dalton">Meet Tommy Dalton</a></li>
								<li><a title="Meet Jeremy Anderson" href="http://www.rootleveldevelopment.com/chicago/team/jeremy-anderson">Meet Jeremy Anderson</a></li>
								<li><a title="Meet Steve Dixon" href="http://www.rootleveldevelopment.com/chicago/team/stephen-dixon">Meet Steve Dixon</a></li>
								<li><a title="Meet Jonathan Petersen" href="http://www.rootleveldevelopment.com/chicago/team/jonathan-petersen">Meet Jonathan Petersen</a></li>
								<li><a title="Let's get started" href="http://www.rootleveldevelopment.com/chicago/home">Home</a></li>
							</ul>

							<!--<a href="#" class="btn-flat pull-right btn-xs view-more-recent-work">View Blog <i class="icon icon-arrow-right"></i></a>-->

						</div>
						<div class="col-md-3">
							<h4>Recent Tweets</h4>
							<div id="tweet" class="twitter" data-account-id="rootlevelchi">
								<!--<p>Please wait...</p>-->
							</div>
						</div>
						<div class="col-md-3">
							<h4>Recent Work</h4>

							<ul class="list-unstyled recent-work">
								<li>
									<a class="thumb-info" href="http://www.troscandesign.com/" target="_blank">
										<img class="img-responsive" width="78" height="78" src="{pathindextosub}assets/thumbs/project-1.jpg" alt="">
									</a>
								</li>
								<li>
									<a class="thumb-info" href="http://www.thinkalter.com/" target="_blank">
										<img class="img-responsive" width="78" height="78" src="{pathindextosub}assets/thumbs/project-2.jpg" alt="">
									</a>
								</li>
								<li>
									<a class="thumb-info" href="http://www.risdistributiontande.com/olc/" target="_blank">
										<img class="img-responsive" width="78" height="78" src="{pathindextosub}assets/thumbs/project-3.jpg" alt="">
									</a>
								</li>
								<li>
									<a class="thumb-info" href="http://www.rootleveldevelopment.com/projects/chicago_design_museum/future_fork/" target="_blank">
										<img class="img-responsive" width="78" height="78" src="{pathindextosub}assets/thumbs/project-8.jpg" alt="">
									</a>
								</li>
								<li>
									<a class="thumb-info" href="http://rootleveldesign.com/chicago/transfer/bigkaiser/" target="_blank">
										<img class="img-responsive" width="78" height="78" src="{pathindextosub}assets/thumbs/project-4.jpg" alt="">
									</a>
								</li>
								<li>
									<a class="thumb-info" href="http://www.hola401k.com/aryzta" target="_blank">
										<img class="img-responsive" width="78" height="78" src="{pathindextosub}assets/thumbs/project-7.jpg" alt="">
									</a>
								</li>
							</ul>

							<!--<a href="#" class="btn-flat pull-right btn-xs view-more-recent-work">View More <i class="icon icon-arrow-right"></i></a>-->

						</div>
					</div>
				</div>
				<div class="footer-copyright">
					<div class="container">
						<div class="row">
							<div class="col-md-6">
								<p>©2014 Root Level Development. All Rights Reserved.</p>
							</div>
							<div class="col-md-6">
								<ul class="social-icons">
									<li><a href="https://twitter.com/rootlevelchi" target="_blank" rel="tooltip" title="Twitter Root Level Development"><i class="icon icon-twitter"></i></a></li>
                                    <li><a href="https://twitter.com/rootleveldesign" target="_blank" rel="tooltip" title="Twitter Root Level Design"><i class="icon icon-twitter"></i></a></li>
<!--									<li><a href="http://www.facebook.com/" target="_blank" rel="tooltip" title="Facebook"><i class="icon icon-facebook"></i></a></li>
									<li><a href="http://www.google.com/" target="_blank" rel="tooltip" title="Google+"><i class="icon icon-google-plus"></i></a></li>-->
									<li><a href="http://www.linkedin.com/company/root-level-development" target="_blank" rel="tooltip" title="Linkedin Root Level"><i class="icon icon-linkedin"></i></a></li>
                                    <li><a href="http://www.linkedin.com/company/rootleveldesign" target="_blank" rel="tooltip" title="Linkedin Tom Dalton"><i class="icon icon-linkedin"></i></a>
								</ul>
							</div>
                            <div class="footer-browser-info">Current Browser: {exp:browser_sniff}{browser_sniff_browser}&nbsp;{browser_sniff_version}{/exp:browser_sniff}</div>
						</div>
					</div>
                    
				</div>
			</footer>
{/exp:channel:entries}