{exp:vz_exif image="http://annikadalton.com/timeline/AndroidNote3.jpg"}
<ul>
<li>Orientation: {orientation}</li>
<li>File Size: {size}kb</li>
<li>Dimensions: {width}x{height}</li>
<li>Taken on: {date format="%F %d, %Y"}</li>
<li>Camera brand: {make}</li>
<li>Camera: {model}</li>
<li>Focal length: {focal_length}mm{if focal_length_equiv} (<abbr title="35mm equivalent">{focal_length_equiv}mm-e</abbr>){/if}</li>
<li>Aperture: {aperture}</li>
<li>Shutter speed: {shutter} seconds</li>
<li>ISO: {iso}</li>
<li>Processed with: {software}</li>
<li>Flash used: {flash}</li>
<li>Latitude: {latitude} / Longitude: {longitude}</li>
</ul>
{/exp:vz_exif}